@import "../styles/mixin";
@import "../styles/variables";

.carousel__container {
  width: 100%;
  //   height: 350px;
  .d-block {
    width: 100%;
    height: 380px !important;
    object-fit: inherit;
  }
}
