$color-primary: #255072;
$color-secondary: #329d9c;
$color-green: #56c596;
$color-background: #cff4d2;
$color-black: #000;
$color-white: #fff;

$dark-bg: #232323;
$color-pink: #fe525b;

$text-color: #495057;
$title-color: #484848;
$hover-color: #0842980a;

$btn-secondary: gray;
