@import "../../styles/mixin";
@import "../../styles/variables";

// Promo Start
.promo__container {
  width: 100%;
  height: 150px;
  background-color: $color-background;
  .promo__content {
    width: 85%;
    margin: 0px auto;
    height: 100%;
    .promo__lists {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .promo__items {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        cursor: pointer;
        i {
          font-size: 1rem;
          color: $color-primary;
          border: 2px solid $color-primary;
          border-radius: 50%;
          padding: 7px;
        }
        .details {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 3px;
          h3 {
            font-size: 17px;
            font-weight: bold;
          }
          p {
            font-size: 10px;
            font-weight: 600;
            color: $color-secondary;
          }
        }
      }
    }
  }
}
// Promo End

// Product Start
.product__container {
  width: 100%;
  // height: 350px;
  // background-color: red;
  .pro__content {
    width: 100%;
    height: 100%;
    padding: 50px 40px;
    .pro__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      h1 {
        font-size: 1.5rem;
        font-weight: 600;
      }
      p {
        font-size: 14px;
        margin-top: 20px;
        text-align: center;
        color: gray;
        line-height: 27px;
      }
    }
    .pro__action__container {
      width: 100%;
      .pa__content {
        width: 100%;
        .pa__header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h6 {
            font-size: 1.3rem;
            font-weight: 600;
            border-bottom: 2px solid lightblue;
            line-height: 40px;
          }
        }
        .pa__lists {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 20px;
          margin-top: 30px;

          &::-webkit-scrollbar {
            display: none;
          }

          .pa__items {
            min-width: 200px;
            height: 250px;
            border-radius: 10px;
            // background-color: red;
            border: 1px solid #ddd;
            cursor: pointer;
            img {
              width: 100%;
              height: 80%;
              padding: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              object-fit: contain;
            }
            h3 {
              text-align: center;
              font-size: 15px;
              font-weight: 600;
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
}
// Product End

// Home Product Start
.home__product__container {
  width: 100%;
  height: 100%;
  background-color: #f1f3f6;
  .hp__content {
    width: 100%;
    padding: 20px 40px;
    height: 100%;
    padding-bottom: 10%;
    .hp__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h6 {
        font-weight: bold;
        font-size: 1.4rem;
      }
      a {
        font-size: 13px;
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
    .home__pro__actions {
      width: 100%;
      margin-top: 30px;
      .hpa__content {
        width: 100%;
        height: 100%;
        .items__lists {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 15px;
          overflow-x: scroll;

          &::-webkit-scrollbar {
            display: none;
          }
          .product__card {
            width: 100%;
            min-width: 230px;
            height: 100%;
            // border: 1px solid $color-background;
            border-radius: 10px;
            padding: 15px;
            background-color: $color-white;
            &:hover {
              box-shadow: 0px 0px 14px #ddd;
              scale: 0.3;
            }
            .card__header {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-right: 15px;
              i {
                font-size: 1.3rem;
                color: $color-pink;
              }
            }
            img {
              // width: 100px;
              height: 150px;
              margin: 0px auto;
              display: flex;
              align-items: center;
              justify-content: center;
              overflow: hidden;
            }
            h6 {
              font-size: 13px;
              margin-top: 10px;
              font-weight: 600;
            }
            p {
              font-size: 15px;
              font-weight: 600;
              margin-top: 10px;
              display: flex;
              align-items: center;
              gap: 10px;
              margin-bottom: 20px;
              span {
                font-size: 11px;
                color: gray;
                font-weight: lighter;
              }
            }
            .btn-cart {
              width: 100%;
              background-color: $color-primary;
              height: 36px;
              border-radius: 4px;
              font-size: 14px;
              color: $color-white;
              // padding: 10px 55px;
            }
          }
        }
      }
    }
  }
}
// Home Product End

// Advertisement Container Style Start
.ad__container {
  width: 100%;
  height: 100%;
  .ad__content {
    width: 100%;
    height: 100%;
    padding: 5% 40px;
    .ad__card__lists {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      .adc__items {
        width: 100%;
        height: 100%;
        padding: 10px;
        background-color: $color-white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #ddd;
        img {
          height: 80px;
          margin-top: 20px;
        }
        p {
          text-align: center;
          font-size: 13px;
          font-weight: 600;
          color: $color-primary;
          margin-top: 20px;
        }
      }
    }
    .app__content {
      width: 100%;
      margin-top: 3%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .app__items {
        h1 {
          font-weight: 600;
          font-size: 1.5rem;
          margin-bottom: 20px;
          color: $color-primary;
        }
        .img__content {
          display: flex;
          flex-direction: column;
          gap: 30px;
          img {
            height: 70px;
            cursor: pointer;
          }
        }
        .app__img {
          height: 210px;
        }
      }
    }
  }
}
// Advertisement Container Style End
