.product-container{
    display: flex;
    justify-content: space-between;


.p-container{
    // background-color: red;
    width:100%;
    height:100%;
    display: flex;

    .price-details strong{
        font-size: 6rem;
        margin-top: 10px;


        // strong{
        //     color:black;
        //     font-size: 2rem;
        // }
    }

    .p-image img{
        // background-color: yellow;
        width:400px;
        height: 400px;
    }

    .child-image img{
        // background-color: red;
        width:100px;
        height: 100px;
        margin-left: 50px;
    }



}


.product-content {
    

    h3{
        font-size: 2.5rem;
    color:black;
    margin-bottom: 20px;
       
    }

    strong{
        font-size: 2rem;
        margin-bottom: 30px;
    }

    .review-container{
        display:flex;
        margin-top: 15px;

        .rating{
            margin-left: 10px;
        }
    }
}


    .btn-holder{
        // gap:20px;
        // background-color: red;
        margin-top:40px;
        display:flex;

        .btn-buy{
            width:180px;
            height: 60px;
            color:black;
            // margin-left: 50px;
           
        }

        .btn-buy:hover{
            background-color: black;
            color:white;
        } 
        

        .btn-add{
            width: 180px;
            height:60px;
            margin-left: 30px;
            background-color: black;
            color:white;

        }

        .btn-add:hover{
            color:black;
            background-color: white;

        }


    }

}